<footer id="footer" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="~/images/home/main-logo.png" alt="logo" class="img-fluid mb-2">
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="~/">
                                            <svg class="facebook">
                                                <use xlink:href="#facebook" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/">
                                            <svg class="instagram">
                                                <use xlink:href="#instagram" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/">
                                            <svg class="twitter">
                                                <use xlink:href="#twitter" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/">
                                            <svg class="linkedin">
                                                <use xlink:href="#linkedin" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/">
                                            <svg class="youtube">
                                                <use xlink:href="#youtube" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-capitalize">
                            <h5 class="widget-title pb-2">Đường dẫn nhanh</h5>
                            <ul class="menu-list list-unstyled text-capitalize">
                                <li class="menu-item mb-1">
                                    <a href="~/">Trang chủ</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="~/">Giới thiệu</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="@Url.Action("Index", "Shop")">Sản phẩm</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="#footer">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-capitalize">
                            <h5 class="widget-title pb-2">Hỗ trợ khách hàng</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item mb-1">
                                    <a href="~/">Các câu hỏi thường gặp</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="~/">Gửi yêu cầu hỗ trợ</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="~/">Phương thức vận chuyển</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="~/">Chính sách đổi trả</a>
                                </li>
                                <li class="menu-item mb-1">
                                    <a href="~/">Hướng dẫn đặt hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-capitalize pb-2">Liên hệ với chúng tôi</h5>
                            <p>
                                Bạn có thắc mắc hay đề xuất gì? <a href="mailto:"
                                                                           class="text-decoration-underline">example@email.com</a>
                            </p>
                            <p>
                                Bạn cần hỗ trợ? Liên hệ <br /><a href="#" class="text-decoration-underline">
                                    +55 111 222
                                    333 44
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<hr>
<div id="footer-bottom" class="mb-2">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="ship-and-payment d-flex gap-md-5 flex-wrap">
                <div class="shipping d-flex">
                    <p>Đơn vị vận chuyển:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/images/home/dhl.png" alt="visa">
                        <img src="~/images/home/shippingcard.png" alt="mastercard">
                    </div>
                </div>
                <div class="payment-method d-flex">
                    <p>Phương thức thanh toán:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/images/home/visa.jpg" alt="visa">
                        <img src="~/images/home/mastercard.jpg" alt="mastercard">
                        <img src="~/images/home/paypal.jpg" alt="paypal">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© Copyright 2025 very real company </p>
            </div>
        </div>
    </div>
</div>